<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.1/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
<link rel="stylesheet" href="style.css">
<title>C+R Pets</title>
</head>
<body>
    <div class="container">
            <h1 class="d-flex justify-content-center">All the Pets!</h1>
                <table class="table table-bordered">
                    <thead>
                      <tr>
                        <th scope="col">ID #</th>
                        <th scope="col">Name</th>
                        <th scope="col">Type</th>
                      </tr>
                    </thead>
                    <tbody>
                    {% for pet in all_pets %}
                      <tr>
                        <th scope="row">{{pet["id"]}}</th>
                        <td>{{pet["name"]}}</td>
                        <td>{{pet["type"]}}</td>
                      </tr>
                    {% endfor %}
                    </tbody>
                  </table>
                <div class="form-group d-flex justify-content-center">
                    <form method="post" action="/show_pets">
                        <p>Pet Name: <input class="form-control" type="text" name="pet_name"></p>
                        <p>Pet Type: <input class="form-control" type="text" name="pet_type"></p>
                        <div class="row justify-content-center">
                            <input type="submit" value="Add" class="text-center">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.1/js/bootstrap.min.js"></script>
</body>
</html>