<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.1/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
<link rel="stylesheet" href="style.css">
<title>Welcome to Tweeter</title>
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col">
            Welcome to Tweeter, {{ user_data["first_name"]}}
        </div>
    <div class="row">
      <div class="col">
        {% for tweet in tweets %}
          <p>{{tweet['first_name']}}</p>
        {% endfor %}
        <a href="/logout">Logout</a>
        <div>
          <form action="/on_tweet" method="POST">
            <textarea name="tweet_content" cols="30" rows="8"></textarea>
            <input type="submit" value="Tweet!">
          </form>
        </div>
      </div>
    </div>
    </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.1/js/bootstrap.min.js"></script>
</body>
</html>