<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.1/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
<link rel="stylesheet" href="style.css">
<title>User Registration</title>
</head>
<body>
  <div class="container">
    <div class="row">
      <div class="col-sm">
        <form method="post" action="/users/create">
          <div class="form-group">
            <h1 class="text-center">Registration</h1>
              <div class="form-group">
                <label for="first_name">First Name</label>
                <input type="text" class="form-control" id="name" name="first_name">
              </div>
              <div class="form-group">
                <label for="last_name">Last Name</label>
                <input type="text" class="form-control" name="last_name">
              </div>
              <div>
                <label for="email">Email Address</label>
                <input type="email" class="form-control" name="email">
              </div>
              <div class="form-group">
                <label for="password">Password</label>
                <input type="password" class="form-control" name="password">
              </div>
              <div class="form-group">
                  <label for="confirm_password">Confirm Password</label>
                  <input type="password" class="form-control" name="conf_password">
              </div>
              {% with messages = get_flashed_messages() %}
                  {% if messages %}
                      {% for message in messages %}
                      <p>{{message}}</p>
                      {% endfor %}
                  {% endif %}
              {% endwith %}
          <div class="form-group form-check">
          </div>
          <div class="d-flex justify-content-center">
            <button type="submit" class="btn btn-primary">Register</button>
          </div>
        </form>
      </div>
    </div>
    <div class="col-sm">
      <form method="post" action="/login">
        <div class="form-group">
          <h1 class="text-center">Login</h1>
            <div class="form-group">
              <label for="email">Email Address</label>
              <input type="email" class="form-control" name="lemail">
            </div>
            <div class="form-group">
              <label for="password">Password</label>
              <input type="password" class="form-control" name="lpassword">
            </div>
          </div>
          <div class="d-flex justify-content-center">
          <button type="submit" class="btn btn-primary">Login</button>
          </div>
      </form>
    </div>
  </div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.1/js/bootstrap.min.js"></script>
</body>
</html>